.picture{
    width: 330px;
    float: left;
    margin: 10px;
    height: 240px;
    background: rosybrown;
}
header {
    background-color: rgba(224,255,255,0.9);
    position: fixed;
    top: 0;
    margin-left: -8px;
    height: 100px;
    width: 100%;
    z-index: 10;
}
#login{
    float: left;
    clear: right;
}
#login h1{
    font-family: 华光彩云_CNKI, serif;
}
ul.menu{
    margin: 0px;
    padding: 0px;
    float: right;
}
ul.menu >li{
    list-style: none;
    text-decoration: none;
    float: left;
    padding: 0;
    margin: 20px;
    position: relative;
}
ul.menu > li:hover >a{
    color: white;
}
ul.menu > li > a:hover, ul.menu > li > a:focus{
    outline: none;
    color: white;
    background-color: rgb(255, 0, 155);
}
ul.menu > li > a:active{
    outline: none;
    color: white;
    background-color: #FF0000;
}
.block{
    margin-top: 200px;
    clear: both;
}
figure{
    display: block;
    width: 312px;
    height: 195px;
    background: #e7e3d8;
    margin: 0;
    padding: 9px;
    text-align: left;
}
.block>h1{
    width: fit-content;
    background-color: #e7e3d8;
}
figure img{
    width: 308px;
    height: 200px;
    border: 1px solid #d6d6d6;
}
figcaption{
    background-image: url("../pics/icon.png");
    background-repeat: no-repeat;
    padding-left: 20px;
}
body{
    /* 背景颜色 */
    margin: 0;
    min-height: 100vh;
    background-color: #e493d0;
    background-image: 
    radial-gradient(closest-side,rgba(228, 156, 108,1),rgba(228, 156, 108,0)),
    radial-gradient(closest-side,rgba(117, 219, 159,1),rgba(117, 219, 159,0)),
    radial-gradient(closest-side,rgba(115, 228, 248,1),rgba(115, 228, 248,0)),
    radial-gradient(closest-side,rgba(170,142,245,1),rgba(170,142,245,0)),
    radial-gradient(closest-side,rgba(241, 131, 146,1),rgba(241, 131, 146,0));
    background-size: 130vmax 130vmax,
                     60vmax 60vmax,
                     90vmax 90vmax,
                     110vmax 110vmax,
                     90vmax 90vmax;
    background-position: -80vmax -80vmax,
                         60vmax -30vmax,
                         10vmax 10vmax,
                         -30vmax -10vmax,
                         50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 15s movement linear infinite;
}
body::after{
    /* 背景部分过滤器 */
    /* content: '';
    display: block;
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
}
@keyframes movement {
    /* 背景部分动效 */
    0%,100%{
        background-size: 130vmax 130vmax,
                     70vmax 70vmax,
                     90vmax 90vmax,
                     110vmax 110vmax,
                     90vmax 90vmax;
    background-position: -80vmax -80vmax,
                         60vmax -30vmax,
                         10vmax 10vmax,
                         -30vmax -10vmax,
                         50vmax 50vmax;
    }
    25%{
        background-size: 110vmax 150vmax,
                     100vmax 100vmax,
                     110vmax 70vmax,
                     90vmax 130vmax,
                     70vmax 110vmax;
    background-position: -60vmax -100vmax,
                         80vmax -10vmax,
                         -10vmax -10vmax,
                         -10vmax 10vmax,
                         30vmax 70vmax;
    }
    50%{
        background-size: 120vmax 140vmax,
                     90vmax 70vmax,
                     100vmax 80vmax,
                     90vmax 130vmax,
                     80vmax 100vmax;
    background-position: -45vmax -110vmax,
                         90vmax 0vmax,
                         -20vmax -20vmax,
                         -5vmax 15vmax,
                         25vmax 80vmax;
    }
    75%{
        background-size: 110vmax 150vmax,
                     100vmax 100vmax,
                     110vmax 70vmax,
                     90vmax 130vmax,
                     70vmax 110vmax;
    background-position: -60vmax -100vmax,
                         80vmax -10vmax,
                         -10vmax -10vmax,
                         -10vmax 10vmax,
                         30vmax 70vmax;
    }
}