body{
    /* 背景颜色 */
    margin: 0;
    min-height: 100vh;
    background-color: #e493d0;
    background-image: 
    radial-gradient(closest-side,rgba(228, 156, 108,1),rgba(228, 156, 108,0)),
    radial-gradient(closest-side,rgba(117, 219, 159,1),rgba(117, 219, 159,0)),
    radial-gradient(closest-side,rgba(115, 228, 248,1),rgba(115, 228, 248,0)),
    radial-gradient(closest-side,rgba(170,142,245,1),rgba(170,142,245,0)),
    radial-gradient(closest-side,rgba(241, 131, 146,1),rgba(241, 131, 146,0));
    background-size: 130vmax 130vmax,
                     60vmax 60vmax,
                     90vmax 90vmax,
                     110vmax 110vmax,
                     90vmax 90vmax;
    background-position: -80vmax -80vmax,
                         60vmax -30vmax,
                         10vmax 10vmax,
                         -30vmax -10vmax,
                         50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 15s movement linear infinite;
}
body::after{
    /* 背景部分过滤器 */
    content: '';
    display: block;
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
@keyframes movement {
    /* 背景部分动效 */
    0%,100%{
        background-size: 130vmax 130vmax,
                     70vmax 70vmax,
                     90vmax 90vmax,
                     110vmax 110vmax,
                     90vmax 90vmax;
    background-position: -80vmax -80vmax,
                         60vmax -30vmax,
                         10vmax 10vmax,
                         -30vmax -10vmax,
                         50vmax 50vmax;
    }
    25%{
        background-size: 110vmax 150vmax,
                     100vmax 100vmax,
                     110vmax 70vmax,
                     90vmax 130vmax,
                     70vmax 110vmax;
    background-position: -60vmax -100vmax,
                         80vmax -10vmax,
                         -10vmax -10vmax,
                         -10vmax 10vmax,
                         30vmax 70vmax;
    }
    50%{
        background-size: 120vmax 140vmax,
                     90vmax 70vmax,
                     100vmax 80vmax,
                     90vmax 130vmax,
                     80vmax 100vmax;
    background-position: -45vmax -110vmax,
                         90vmax 0vmax,
                         -20vmax -20vmax,
                         -5vmax 15vmax,
                         25vmax 80vmax;
    }
    75%{
        background-size: 110vmax 150vmax,
                     100vmax 100vmax,
                     110vmax 70vmax,
                     90vmax 130vmax,
                     70vmax 110vmax;
    background-position: -60vmax -100vmax,
                         80vmax -10vmax,
                         -10vmax -10vmax,
                         -10vmax 10vmax,
                         30vmax 70vmax;
    }
}
.a{
    position: relative;
    top:300px;
    width:1100px;
    height:550px;
    box-shadow: 0 5px 15px rgba(0,0,0,.8);
    display: flex;
    z-index: 10;
    margin: auto auto;

}
.b{
    width:800px;
    height:550px;
    background-image: url("../pics/login_backgroundimage.png");
    background-size: cover;

}
.c{
    width:300px;
    height:500px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;

}
.d{
    width:250px;
    height:500px;
}
.d h1{
    font: 900 30px '';
}
.e{
    width:230px;
    margin:20px 0;
    outline: none;
    border: 0;
    padding: 10px;
    border-bottom:3px solid rgb(80,80,170);
    font: 900 16px '';
}
.f{
    float:right;
    margin: 10px 0;
    
}
.g{
    position: absolute;
    margin: 20px;
    bottom: 40px;
    display: block;
    width: 200px;
    height: 60px;
    font: 900 30px '';
    text-decoration:none;
    line-height:50px;
    border-radius: 30px;
    background-image: linear-gradient(to left, #9c88ff,#3cadeb);
    text-align: center;
}